{% extends 'base.html' %}
{% block title %}
    <title>Take Attendance</title>
{% endblock title %}

{% block content %}

    <div class = "container">
            </br>
        {% if messages %}
            {% for message in messages%}
            <div class ="alert alert-info alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
        {% endif %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <p class="h1">Enter the section to view by section</p>
    <form method="POST">
    {% csrf_token %}
    <div class="form-group">
    <input type="text" class="form-control mr-2" name="section" placeholder="Student Section">
    <input type="text" class="form-control mr-2" id="subject" name="subject" placeholder="Subject">
    </div>
    <button type="submit" class="btn btn-success my-2 my-sm-0">Get</button>
    </form>
    </br>
    <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">date</th>
      <th scope="col">Rollno</th>
      <th scope="col">Name</th>
      <th scope="col">status</th>
      <th scope="col">change</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in obj1 %}
    {% if obj.status == "Present" %}
    <tr>
      <td class="table-success">{{obj.date}}</td>
      <td class="table-success">{{obj.sroll}}</td>
      <td class="table-success">{{obj.sname}}</td>
      <td class="table-success">Present</td>
      <td class="table-success"><a href="{% url 'edittattendance' obj.id %}">
      <button type="button" class="btn btn-primary">Change</button>
      </a></td>
    </tr>
    {% else %}
        <tr>
      <td class="table-danger">{{obj.date}}</td>
      <td class="table-danger">{{obj.sroll}}</td>
      <td class="table-danger">{{obj.sname}}</td>
      <td class="table-danger">Absent</td>
      <td class="table-danger"><a href="{% url 'edittattendance' obj.id %}">
      <button type="button" class="btn btn-primary">Change</button>
      </a></td>
    </tr>
    {% endif %}
        </br>
        {% endfor %}
  </tbody>
  </table>
  <a href="{% url 'editattendance' %}">
   <button type="submit" class="btn btn-success my-2 my-sm-0">submit</button>
  </a>
     </div>
{% endblock content %}

