{% extends 'base.html' %}
{% block title %}
    <title>students</title>
{% endblock title %}

{% block content %}
    <div class="container">
    <p class="h1">Enter the section to view by section</p>
    <form method="POST">
    {% csrf_token %}
    <div class="form-group">
    <label for="exampleInputEmail1">Section</label>
    <input type="text" class="form-control mr-2" id="section" name="section" placeholder="Student Section">
    </div>
    <button type="submit" class="btn btn-success my-2 my-sm-0">submit section</button>
    </form>
    </div>
    <div class = "container">
    <table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Section</th>
      <th scope="col">Rollno</th>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    
        {% for obj in slist %}
    <tr>
      <td>{{obj.ssec}}</td>
      <td>{{obj.sroll}}</td>
      <td>{{obj.sname}}</td>
      <td><a href="{% url 'editstudent' obj.id %}">edit</a></td>
      <td><a href="{% url 'deletestudent' obj.id %}">delete</a></td>
    </tr>
        </br>
        
        {% endfor %}

</table>
<a href="{% url 'downloadstudents' isection%}"><button type="submit" class="btn btn-success my-2 my-sm-0">Download Students List</button></a>

{% endblock content %}